<a href="/">Back to all sightings</a>

<h1>Sighting details</h1>

<p>
	<b>When:</b> <%= @ufo.when_seen %>
</p>
<p>
<b>Where:</b> <%= @ufo.location %>
</p>
<p>
<b>Description:</b> <%= @ufo.description %>
</p>