<h1>Excerpt from Wikipedia</h1>

<b>Fossils</b> (from Classical Latin <i>fossilis</i>, literally "obtained by digging") are the preserved remains or <font color="royalblue">traces</font> of animals (also known as zoolites), plants, and other organisms from the remote past. The totality of fossils, both discovered and undiscovered, and their placement in <i>fossiliferous</i> (fossil-containing) <font color="royalblue">rock</font> formations and <font color="royalblue">sedimentary</font> layers (<font color="royalblue">strata</font>) is known as the fossil record.


