<p class="whiteonblack">
  White text on a black background
</p>
<p class="thickborder">
  Text with a thick border and some padding around it
</p>
<p class="smallnarrow">
  Small text in a narrow box that's indented
</p>
<p class="bigspace">
  Text with a thin border and lots of room around it
</p>
<p class="ctrbox">
  Text in a box that's centered
</p>
<p class="shadow">
  Text with a blue glow around it and its box
</p>
