<nav class="navbar navbar-inverse" role="navigation">
   <div class="navbar-header">
	  <a class="navbar-brand" href="#">Cat Ipsum</a>
   </div>
	  <form class="navbar-form navbar-right" role="login">
		 <div class="form-group">
		    <input type="text" class="form-control" placeholder="Email">
		 </div>
		 <div class="form-group">
			<input type="text" class="form-control" placeholder="Password">
		 </div>
		    <button type="submit" class="btn btn-default">Login</button>
	  </form>
	</div>
</nav>

<div class="jumbotron">
   <table>
	  <td>
   		 <div class="container">
	  	    <h1>Cat ipsum</h1>
      	  	<p>Tabby siamese grimalkin persian, or havana brown yet savannah sphynx. Manx. Thai tiger and ocelot, balinese.</p>
      	  	<button type="button" class="btn btn-primary">Sign Up</button>
   	 	</div>
	  </td>
	  <td>
   	     <div class="container">
	  	    <img src='http://placekitten.com/g/287/320' width='287' height='320'>
   	 	 </div>
   	  </td>
   </table>
</div>

<div class="row">
   <div class="col-md-4" style="border-left: 4px solid #E8E8E8;font-size: 15px">
 	   <p>Turkish angora munchkin but munchkin american bobtail cornish rex.</P>
	   <p style="color:#A0A0A0;">&mdash; american bobtail</p>
   </div>
   <div class="col-md-4" style="border-left: 4px solid #E8E8E8;font-size: 15px">
       <p>Cheetah siberian for devonshire rex malkin but tiger. Cornish rex puma, leopard yet singapura mouser siamese russian blue.</P>
	   <p style="color:#A0A0A0;">&mdash; persian tabby</p> 
   </div>
   <div class="col-md-4" style="border-left: 4px solid #E8E8E8;font-size: 15px">
 	  <p>American shorthair scottish fold american shorthair persian tabby. Siamese tiger scottish fold.</P>
 	  <p style="color:#A0A0A0;">&mdash; cornish rex</p>
   </div>
</div>
