<% @members.each do |member| %>
  <h2><%= member.name %>'s cars:</h2>
  <!-- Write code to generate <ul> list here or (None) -->
	<% cars = member.cars %>
	<% if cars != Array.new %>
		<% cars.each do |car| %>
			<ul>
				<li><%= car.model%></li>
			</ul>
		<% end %>
	<% else %>
		(None)
	<% end %>
<% end %>

<h2>No one's cars:</h2>
<!-- Write code to generate <ul> list here -->
<% Car.where(member_id: nil).each do |car| %>
	<ul>
		<li><%= car.model %></li>
	</ul>
<% end %>
